:root{
    --background: rgb(4, 4, 18);
    --midground: rgba(24, 24, 52, 0.8);

    --lightaccent: rgba(191, 191, 227, 0.8);
}

html{
    scroll-behavior: smooth;
}
a{
    color: lime;
    text-decoration: none;
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6, p, li{
    color: antiquewhite;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 18px;
}
li{
    font-size: 18px;
}


nav{
    display: grid;
    grid-template-columns: auto auto;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    font-size: 18px;
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav li{
    text-align: center;
    list-style: none;
}
li a{
    color: antiquewhite;
    text-decoration: none;
}
li a:hover{
    color: lime;
    transition: 0.3s;
}

body{
    font-family: monospace;
    margin: auto;
    background-color: var(--background);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}

.blurb-container{
    display: grid;
    grid-template-columns: 50% auto auto;
    padding: 12rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nypl_photoITook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*
.blurb-text{
    padding: 24px;
}*/

.skills-section{
    margin: 0 8rem 0 8rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Update first parameter based on number of skills */
}
.skill{
    text-align: center;
    margin: 1rem;
    padding: 6px;

    background-color: var(--midground);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}




/* PROJECTS.HTML */
.sticky{
    position: sticky;
    top: 6rem;
}
.page-nav{
    position: sticky;
    top: 0;

    margin: 8rem 1rem 1rem 1rem;

    /* background-color: var(--midground); */
    background-color: #1F162FD6;

    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.page-nav > ul{
    display: grid;
    grid-template-columns: auto;

    line-height: 2;
}
.page-nav, li{
    padding: 0.5rem 0.5rem 0.5rem 0;
    list-style: none;
    text-align: left;
}
.page-nav > li a{
    color: antiquewhite;
}

.projects-container{
    float: right;
    margin-top: 8rem;
}
.project{
    padding: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    
    /* background-color: var(--midground); */
    background-color: #1F162FD6;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.project, .text-slide ul li{
    line-height: 2;
    list-style: square;
    /*list-style: decimal-leading-zero;*/
}


/* EXPERIENCE */
.body-text{
    margin: 1rem 8rem 1rem 8rem;
    padding: 24px;
}
.img-center{
    margin-top: 3rem; 
    margin-bottom: 3rem;

    margin-left: auto; 
    margin-right: auto; 

    display: block;
}


.folder-slideshow{
    width: 100%;
    overflow: hidden;
}
.folder-slides{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /*scroll-behavior: smooth;*/
    -webkit-overflow-scrolling: touch;
}
.folder-slides > div{
    scroll-snap-align: start;
    flex-shrink: 0;
  
    justify-content: center;
    align-items: center;


    margin-right: 2.5rem;
    width: 94%;

    padding: 2rem 1.5rem 1rem 1.5rem;
    border-radius: 0 8px 8px 8px;
    background-color: wheat;
    /*margin-bottom: 2.5rem;*/
}
.text-slideshow-container{
    padding: 24px;
    text-align: center;
}

/* Snap content even without button/folder tab nav */
@supports (scroll-snap-type) {
  .folder-slideshow > a {
    display: none;
  }
}


.folder-tab{
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    border-radius: 8px 8px 0 0;

    display: inline-block;
    clear: both;

    background-color: #b7a686;
    color: black;
}


.footer{
    background-color: #1F162FD6;
    z-index: 1;
    padding: 12px;
    width: 100%;
    text-align: center;
}