:root{
    --background: rgb(4, 4, 18);
    --midground: rgba(24, 24, 52, 0.8);

    --lightaccent: rgba(191, 191, 227, 0.8);
}

html{
    scroll-behavior: smooth;
}
a{
    color: lime;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, li{
    color: antiquewhite;
}


nav{
    display: grid;
    grid-template-columns: auto auto;

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    font-size: 18px;
}
nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
nav li{
    text-align: center;
    list-style: none;
}
li a{
    color: antiquewhite;
    text-decoration: none;
}
li a:hover{
    color: lime;
    transition: 0.3s;
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: auto;
    background-color: var(--background);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
}

.blurb-container{
    display: grid;
    grid-template-columns: 50% auto auto;
    padding: 12rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nypl_photoITook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blurb-text{
    padding: 24px;
}

.skills-section{
    margin: 8rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Update first parameter based on number of skills */
}
.skill{
    text-align: center;
    margin: 1rem;
    padding: 6px;

    background-color: var(--midground);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}




/* PROJECTS.HTML */
.sticky{
    position: sticky;
    top: 6rem;
}
.page-nav{
    position: sticky;
    top: 0;

    margin: 8rem 1rem 1rem 1rem;

    background-color: var(--midground);

    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.page-nav > ul{
    display: grid;
    grid-template-columns: auto;

    line-height: 2;
}
.page-nav, li{
    padding: 0.5rem 0 0.5rem 0;
    list-style: none;
    text-align: left;
}
.page-nav > li a{
    color: antiquewhite;
}

.projects-container{
    float: right;
    margin-top: 8rem;
}
.project{
    padding: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    
    background-color: var(--midground);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.project ul li{
    line-height: 2;
    list-style: square;
    /*list-style: decimal-leading-zero;*/
}
